[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

nltk = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
sumpy = {git = "https://github.com/newsbias/sumpy.git", ref = "e03a5a4"}
aiohttp = "*"
aiodns = "*"
lxml = "*"
fuzzywuzzy = "*"
cchardet = "*"
python-levenshtein = "*"
pyquery = "*"
gensim = "*"


[dev-packages]

"autopep8" = "*"


[requires]

python_version = "3.6"
